.card__image {
  object-fit: cover;
	width: 100%;
	height: 180px;

	border-radius: 10px 10px 0 0;

	background: url('https://p0.pxfuel.com/preview/273/441/304/guitar-guitarist-guitar-player-guitar-grip.jpg') no-repeat center;
	background-size: cover;
	transition: background-image 0.3s ease-out;
}

.card__image:hover {
  opacity: 80%;
}
