.about-content__circle-container_right {
  justify-content: flex-end;
}

@media screen and (max-width: 1330px) {
  .about-content__circle-container_right {
    margin: 0 auto;
    display: none;
  }
}
