.about {
  max-width: 1440px;
  margin: 38px auto 0;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 6fr 10fr 1fr 10fr 6fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  ". title . container ."
  ". . . container ."
  ". . . container ."
  ;
}

@media screen and (max-width: 670px) {
  .about {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-template-areas:
    "title"
    "container"
    "container"
    ;
    row-gap: 12px;
    margin: 70px 36px 0;
  }
}

@media screen and (max-width: 360px) {
  .about {
    margin: 70px 12px 0;
  }
}
