.about-content__paragraph_second {
  max-height: 480px;
  min-height: 480px;
  position: relative;
  padding: 0 0 0 240px;
  flex-direction: row;
  gap: 40px;
}

@media screen and (max-width: 1330px) {
  .about-content__paragraph_second {
    margin: 40px 0 0;
    padding: 0;
    flex-direction: column-reverse;
    min-height: fit-content;
    max-height: fit-content;
    max-width: fit-content;
  }
}
