.about-content__paragraph_second {
  max-height: 480px;
  min-height: 480px;
  position: relative;
  padding: 0 0 0 240px;
  flex-direction: row;
  gap: 40px;
}

/* @media screen and (max-width: 1024px) {
  .about-content__paragraph_second {

  }
} */
