.textarea-field {
  resize: vertical;
  min-height: 132px;
  white-space: pre-wrap;

  display: flex;
  padding: 12px 24px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  box-sizing: border-box;
  border-radius: 26px;
  cursor: pointer;

  width: 100%;
  border: 2px #96949E solid;
  background-color: white;
  margin: 8px 0 8px;
}

.textarea-field:focus {
  outline-color: #7100FF;
}



