.about-content__illustration_third {
  width: 473px;
  height: 304px;
  background-image: url(../../../../images/about-content/third-illustration.svg);
  position: absolute;
  top: 42px;
  left: 901px;
}
