.about-content__title {
  margin: 0 0 40px;
}

@media screen and (max-width: 1330px) {
  .about-content__title {
    margin: 0 0 20px;
  }
}

/* @media screen and (max-width: 1024px) {
  .about-content__title {
    font-size: 44px;
    width: 320px;
    margin: 0 auto 20px;
  }
} */
