.icon_type_heart {
	width: 25px;
	height: 23px;
	mask: url('../../../images/icons/button/heart.svg') no-repeat 100% 100%;
	-webkit-mask: url('../../../images/icons/button/heart.svg') no-repeat 100%
		100%;
}
