.icon_type_menu {
	width: 25px;
	height: 24px;
	mask: url('../../../images/icons/button/menu.svg') no-repeat 100% 100%;
	-webkit-mask: url('../../../images/icons/button/menu.svg') no-repeat 100% 100%;
}
