.button_state_filter-unchecked {
  background-color: white;
  box-sizing: border-box;
}

.button_state_filter-unchecked .text_color_white {
  color: #3b3748;
}

.button_state_filter-unchecked .icon_type_cross-white {
  display: none;
}

.button_state_filter-unchecked:hover .text_color_white{
  color: white;
}
