.button {
	display: flex;
	padding: 12px 24px;
	align-items: center;
	justify-content: center;
	gap: 8px;
	border: none;
	box-sizing: border-box;
	border-radius: 26px;
	cursor: pointer;
	line-height: 0;
}

/*HOVER STATE*/
.button:hover .text_color_black {
	color: #5100b8;
}

.button:hover .icon {
	background-color: #5100b8;
}

.button:hover .icon_color_white {
	background-color: #fff;
}
