.about-content__text {
  margin: 0 0 24px;
}

.about-content__text:last-child {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .about-content__text {
    margin: 0 0 20px;
    font-size: 16px;
  }
}
