.footer__illustration {
  width: 193px;
  height: 193px;
  background-image: url(../../../images/footer/footer-illustration.svg);
  background-size: contain;
}

@media screen and (max-width: 1280px) {
  .footer__illustration {
    display: none;
  }
}
