.footer__illustration {
  min-width: 193px;
  height: 193px;
  background-image: url(../../../images/footer/footer-illustration.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

@media screen and (max-width: 1330px) {
  .footer__illustration {
    display: none;
  }
}
