.photo__gallery {
  max-width: 1360px;
  display: grid;
  /* grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(3, min-content); */
  grid-template-columns: 310px 680px 310px;
  grid-template-rows: 660px 310px;
  gap: 20px;
}


@media screen and (max-width: 1380px) {
  .photo__gallery {
    width: 320px;
    display: flex;
    overflow: hidden;
    margin: 0 auto;
  }
}
