.footer {
  padding: 80px 40px 80px;
  display: flex;
  justify-content: space-evenly;
  background-color: #EBE9ED;
}

@media screen and (max-width: 1280px) {
  .footer {
    flex-direction: column;
    padding: 40px 20px 40px;
    row-gap: 48px;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    background-color: #FFD400;
  }
}
