.footer__content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .footer__content {
    flex-direction: column;
    row-gap: 48px;
    width: 320px;
  }
}
