.donation-form__prices {
    display: grid;
    margin-top: 16px;
    margin-bottom: 32px;
    grid-template-columns: repeat(3, 169px);
    grid-template-rows: repeat(2, 48px);
    column-gap: 12px;
    row-gap: 12px;
}