.donation-form__button-close {
    height: 24px;
    width: 24px;
    padding: 0;
    border: 0;
    background-color: #0000;
    background-image: url(../../../images/icons/button/cross-black.svg);
}