.button_type_like {
	position: absolute;
	top: 8px;
	right: 8px;

	background-color: white;
	width: 48px;
	height: 48px;

	background: url('../../../images/icons/card/heart-black.svg') no-repeat center;
	background-color: white;
  opacity: 1;
	transition: opacity 0.3s ease-out;
}

.button_type_like:hover {
	opacity: 0.75;
  cursor: pointer;
}
