.about-content__paragraph_first {
  margin: 0 240px 0;
  /* display: flex; */
  gap: 40px;
  display: grid;
  grid-template-columns: 420px 420px;
}

@media screen and (max-width: 1330px) {
  .about-content__paragraph_first {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0;
    gap: 0;
  }
}
