.about-content__paragraph_first {
  margin: 0 240px 0;
  /* display: flex; */
  gap: 40px;
  display: grid;
  grid-template-columns: 420px 420px;
}

@media screen and (max-width: 1024px) {
  .about-content__paragraph_first {
    flex-direction: column;
    gap: 12px;
    margin: 20px auto 20px;
    width: 320px;

  }
}
