.events {
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  background-color: #EBE9ED;
}

@media screen and (max-width: 360px) {
  .events {
    padding: 40px 20px;
    row-gap: 12px;
  }
}
