.digits__image {
  margin: 0;
  position: relative;
  max-width: 1360px;
  max-height: 720px;
}

@media screen and (max-width: 360px) {
  .digits__image {
    display: flex;
    flex-direction: column;
    /* row-gap: 40px; */
    height: 864px;
  }
}
