.digits__image {
  width: auto;
  height: 720px;
  margin: 0;
  position: relative;
  max-width: 1360px;
}

@media screen and (max-width: 1024px) {
  .digits__image {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 40px;
    height: auto;
  }
}
